* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App, main, nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}

.App {
  flex-direction: column;
  padding-bottom: 5rem;
}

nav {
  margin-bottom: 1rem;
}

.c-app-header {
  margin: 1rem 0;
}
