* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App, main, nav, .all-trips, .all-places, .show-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App, nav {
  flex-direction: column;
}

main {
  column-gap: 10px;
  row-gap: 15px;
}

.App {
  padding-bottom: 5rem;
}

nav {
  gap: 0.8em;
  margin-bottom: 1rem;
}

header, .c-app-header {
  margin: 1rem 0;
}